.adres {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adres-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-position {
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.footer-position li {
  margin: 9px;
}

.logo-footer {
  margin-bottom: 20px;
}
.contact-footer {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
