
.header{



&__contact {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
&__container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  border-bottom: 1px solid #ececec;
}
&__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}}
