.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo1 {
    font-family: "Raleway", sans-serif;
    color: var(--blue-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  .logo2 {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: var(--white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }