.modal {
  position: absolute;
  width: 582px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  &__close-button {
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: var(--white-color);
    background-image: url(../images/close-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  &__header {
    display: flex;
    margin: 0;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    color: var(--black-color);
  }

  &__textaea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    border: none;
    width: 100%;
    top: -22px;
    left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--grey-color);
    outline: none;
  }
  &__fieldset {
    padding-block: 5px;
    display: flex;
    align-content: center;
    margin-block: 28px;
    position: relative;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:has(.input:focus) {
    border-color: var(--blue-color);
    fill: var(--blue-color);
  }
  &:has(textarea:focus) {
    border-color: var(--blue-color);
  }

  & .input {
    height: 40px;
    width: 90%;
    border: none;
    margin-left: 30px;
    outline: none;
  }

  & svg {
    position: absolute;
    top: 20px;
    left: 15px;
    margin-right: 10px;
  }
  & > label {
    position: absolute;
    top: -22px;
    left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--grey-color);
  }
}

.form-checkbox {
  margin: 10px;
  width: 16px;
  height: 15px;
  border-color: var(--black-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contanier-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  & input {
    display: block;
    width: 16px;
    height: 15px;
    background-image: url('data:image/svg+xml,%3Csvg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15"%3E%3Cpath d="M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z" fill="%23212121"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
  }

  & input:checked {
    background-image: url('data:image/svg+xml,%3Csvg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15"%3E%3Crect width="16" height="15" rx="2" fill="%232196F3"/%3E%3Cpath d="m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z" fill="%23fff" stroke="%23fff" stroke-width=".2"/%3E%3C/svg%3E');
  }
}

.hide-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.contanier-checkbox-link {
  color: var(--blue-color);
}
.is-hidden {
  transform: translateX(-100%);
  transition-duration: 0, 5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.form-button {
  box-shadow: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: var(--blue-color);
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  &__position {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

.regul-priv {
  color: var(--blue-color);
}
