.sing-in__title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}



.sing-in__mail__fieldset {

    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  }
  .sing-in__mail__fieldset input {
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
  
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--grey-color);
  }
  .sing-in__mail__button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-color: var(--blue-color);
    background: var(--blue-color);
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1, 87;
    letter-spacing: 0.06em;
    cursor: pointer;
    fill: var(--white-color);
  }
  
  .sing-in__mail {
    display: flex;
    gap: 10px;
  }
  .contanier-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  