.socialmedia-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .socialmedia-container__item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .socialmedia__icon {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialmedia__icon:hover {
    background-color: var(--blue-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialmedia-container_title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .footer-socialmedia-icon {
    --color3: #ffffff;
  }
  
  
  